body {
    /* background-color: lightgray; */
    color: grey;
    /* background-color: darksalmon; */
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.btn-theme {
    background: linear-gradient(315deg, #cbc0d0, #f1e4f7);
    box-shadow: 5px 5px 10px #cbc0d0,
        -5px -5px 10px #f1e4f7;
}

.about-section,
.tech-section,
.work-section {
    border: 0;
    border-radius: 30px;
    background: #e1d5e7;
    box-shadow: inset 5px 5px 10px #bfb5c4,
        inset -5px -5px 10px #fff5ff;
}

.about-img-container,
.about-name,
.about-position,
.about-body,
.tech-title-container,
.tech-logo-container,
.work-title-container,
.work-content-container {
    border: 0;
    border-radius: 20px;
    background: #dae8fc;
    box-shadow: inset 5px 5px 10px #b9c5d6,
        inset -5px -5px 10px #fbffff;
}

.work-logo-container,
.work-position-details,
.work-tech-stack,
.work-job-details {
    border: 0;
    border-radius: 10px;
    background: #ffe6cc;
    box-shadow: inset 5px 5px 10px #d9c4ad,
        inset -5px -5px 10px #ffffeb;
}

.about-img-container {
    background-image: url("profile3-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}